
//-------------------------------------------
//	Colors
//-------------------------------------------


// Grayscale


$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);


// Branding


$primary-color: rgb(182, 116, 41);
// hover color is 211, 172, 127 (this is the primary color at 60%; maybe do lighten($primary-color, 40%)?)


// Social


// $facebook: rgb(0, 0, 0);
// $instagram: rgb(0, 0, 0);


// Miscellaneous


$required: rgb(182, 51, 41);